<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SCoRe - Source Code Recommendation</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/score.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/score.js')}}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class = "container">
            <h1>SCoRe - Source Code Recommendation</h1>
        </div>
        <div class="container form-group" id="submissionform">
            <input type="text" class="col-12 form-control" name="search" id="searchbar" placeholder="Search...">
            <button type="button" class="btn btn-primary col-4" id="searchbtn" onclick="sendData()">Search</button>
        </div>
        <div class="container">
            <label for="results">Results</label>
            <textarea class="form-control" rows="30" id="results" readonly></textarea>
        </div>
    </div>
</body>

</html>